.jumbotron{
    background-color: #15AAB1;
    height: 100%;
    color: white;
}

body {
    background-color: #FFFCB2;
    height: 800px;
}

#form-structure{
    margin: 20px;
}

tr, td, th{
    text-align: center;
}

th{
    background-color: #D2FDE8;
    color: black;
}
